@charset "utf-8";

/*css reset*/
body { 
	font:normal 14px/1.5 "\5FAE\8F6F\96C5\9ED1", Helvetica; 
	color:#000; 
	background-color:white; 
	-webkit-user-select: none; 
	-webkit-text-size-adjust: none; 
}
body,div,dl,dt,dd,del,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,menu { 
	margin:0;
	padding:0;
}
input[type="text"],textarea {
	-webkit-appearance: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	font-style: normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}

header, section, footer { 
	display:block;
	margin:0;padding:0;
}
a{
	text-decoration: none;
}
.dn{
	display: none;
}



.mui-content
{
	background-color: #efeff4;

	-webkit-overflow-scrolling: touch;
}

.mui-bar-nav ~ .mui-content
{
	padding-top: 44px;
}
.mui-bar-nav ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
	top: 44px;
}

.mui-bar-header-secondary ~ .mui-content
{
	padding-top: 88px;
}
.mui-bar-header-secondary ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
	top: 88px;
}

.mui-bar-footer ~ .mui-content
{
	padding-bottom: 44px;
}
.mui-bar-footer ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
	bottom: 44px;
}

.mui-bar-footer-secondary ~ .mui-content
{
	padding-bottom: 88px;
}
.mui-bar-footer-secondary ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
	bottom: 88px;
}

.mui-bar-tab ~ .mui-content
{
	padding-bottom: 50px;
}
.mui-bar-tab ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
	bottom: 50px;
}

.mui-bar-footer-secondary-tab ~ .mui-content
{
	padding-bottom: 94px;
}
.mui-bar-footer-secondary-tab ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
	bottom: 94px;
}

.mui-bar
{
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;

    height: 44px;
    padding-right: 10px;
    padding-left: 10px;

    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
            box-shadow: 0 0 1px rgba(0, 0, 0, .85);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.mui-bar .mui-title
{
    right: 40px;
    left: 40px;

    display: inline-block;
    overflow: hidden;

    width: auto;
    margin: 0;

    text-overflow: ellipsis;
}
.mui-bar .mui-backdrop
{
    background: none;
}

.mui-bar-header-secondary
{
    top: 44px;
}

.mui-bar-footer
{
    bottom: 0;
}

.mui-bar-footer-secondary
{
    bottom: 44px;
}

.mui-bar-footer-secondary-tab
{
    bottom: 50px;
}

.mui-bar-footer,
.mui-bar-footer-secondary,
.mui-bar-footer-secondary-tab
{
    border-top: 0;
}

.mui-bar-transparent
{
    top: 0;

    background-color: rgba(247, 247, 247, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mui-bar-nav
{
    top: 0;

    -webkit-box-shadow: 0 1px 6px #ccc;
            box-shadow: 0 1px 6px #ccc;
}
.mui-bar-nav ~ .mui-content .mui-anchor
{
    display: block;
    visibility: hidden;

    height: 45px;
    margin-top: -45px;
}
.mui-bar-nav.mui-bar .mui-icon
{
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
}

.mui-title
{
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;

    position: absolute;

    display: block;

    width: 100%;
    margin: 0 -10px;
    padding: 0;

    text-align: center;
    white-space: nowrap;

    color: #000;
}

.mui-title a
{
    color: inherit;
}

.mui-bar-tab
{
    bottom: 0;

    display: table;

    width: 100%;
    height: 50px;
    padding: 0;

    table-layout: fixed;

    border-top: 0;
    border-bottom: 0;

    -webkit-touch-callout: none;
}
.mui-bar-tab .mui-tab-item
{
    display: table-cell;
    overflow: hidden;

    width: 1%;
    height: 50px;

    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #929292;
}
.mui-bar-tab .mui-tab-item.mui-active
{
    color: #007aff;
}
.mui-bar-tab .mui-tab-item .mui-icon
{
    top: 3px;

    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}
.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label
{
    font-size: 11px;

    display: block;
    overflow: hidden;

    text-overflow: ellipsis;
}
.mui-bar-tab .mui-tab-item .mui-icon:active
{
    background: none;
}
