<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>应用列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<style>
			body {
				color: gray;
			}
			
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">应用列表</h1>
		</header>
		<div class="mui-content">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<h5 style="margin-top: 51px;padding: 2vw;">应用列表</h5>
					<ul class="mui-table-view">
					    <li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-shishilukuang"></use>
							</svg>
							<span>路况</span>
						</li>
					    <li class="mui-table-view-cell">
					    	<svg class="icon" aria-hidden="true">
					    	  <use xlink:href="#icon-zihangche"></use>
					    	</svg>
					    	<span>公共自行车</span>
					    </li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-tingchechang"></use>
							</svg>
							<span>停车场</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-weixiu"></use>
							</svg>
							<span>维修</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-tickect2-sel"></use>
							</svg>
							<span>汽车票</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-huochepiao"></use>
							</svg>
							<span>火车票</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-zihangche"></use>
							</svg>
							<span>公共自行车</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-hangbandingdan"></use>
							</svg>
							<span>航班</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-UI_icon_jianyichufa"></use>
							</svg>
							<span>处罚信息</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-yinhuan"></use>
							</svg>
							<span>隐患随手拍</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-rexian"></use>
							</svg>
							<span>12328热线</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-fawen"></use>
							</svg>
							<span>发文</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-daibanqianbao"></use>
							</svg>
							<span>签报</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-jianbao"></use>
							</svg>
							<span>简报信息</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-wendang"></use>
							</svg>
							<span>文档室</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-yunhangjiance"></use>
							</svg>
							<span>运行监测</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-yingjichuzhi"></use>
							</svg>
							<span>应急处理</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-zonghezhifaguanli"></use>
							</svg>
							<span>综合执法</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-chuqinbiao"></use>
							</svg>
							<span>出勤</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-chucha"></use>
							</svg>
							<span>出差</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-huiyiguanli"></use>
							</svg>
							<span>会议管理</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-jiaotonggongjiaochekanfangtuandabamianxing-copy1"></use>
							</svg>
							<span>公交地铁</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-dache_fill"></use>
							</svg>
							<span>打车</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-xukezheng"></use>
							</svg>
							<span>许可申请</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-qiyechaxun"></use>
							</svg>
							<span>企业查询</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-shichangxinxigongshi"></use>
							</svg>
							<span>信息公示</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-zhengcefagui"></use>
							</svg>
							<span>政策法规</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-zigezheng"></use>
							</svg>
							<span>从业资格</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-anquanjiaoyu"></use>
							</svg>
							<span>安全教育</span>
						</li>
						<li class="mui-table-view-cell">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-renyuanchaxun"></use>
							</svg>
							<span>人员查询</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src='../../js/jquery-3.1.1.js'></script>
		<script src="../../js/mui/mui.min.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/iconfont.js"></script>
		<script src="../../js/config.js"></script>
		
		<script type="text/javascript">
			mui.init();
			//初始化页面区域滚动
			mui('.mui-scroll-wrapper').scroll();
			
			var pulldown = false; //初始下拉刷新状态
			var containerId = ".mui-content";
			
			function pulldownRefresh() {
				setTimeout(function() {
					mui(containerId).pullRefresh().endPulldownToRefresh(pulldown); //参数为true代表没有更多数据了
					
					mui(containerId).pullRefresh().enablePullupToRefresh();
				}, 500);
			}
			
			$(function() { //比mui.plusReady函数先执行
				
			});

			var mainMv;
			var idCommon;
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				idCommon = self.idCommon;//获得参数
			});
			
			mui(".mui-table-view").on('tap', 'li', function() {
				var icon = this.firstChild.nextSibling.firstChild.nextSibling.getAttribute("xlink:href");
				var name = this.children[1].innerHTML;
				
				//获得列表界面的webview
				var gexhsybj = plus.webview.getWebviewById('gexhsybj');
				//触发列表界面的自定义事件（refresh）,从而进行数据刷新
				mui.fire(gexhsybj,'backData',
					{idCommon:idCommon,
					name:name,
					icon:icon},
				);
				
				mui.back();
			});
		</script>
	</body>

</html>