		<div class="mui-card-content">
			<div class="mui-row" style="width:100%">
				<!-- <div id="1_"> -->
					<div class="mui-col-sm-6 mui-col-xs-3 colStyle" >
						<h5 id="1_name">+添加</h5>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-3 colStyleTb" >
						<svg class="icon" aria-hidden="true">
						  <use id="1_icon" xlink:href=""></use>
						</svg>
					</div>
				<!-- </div> -->
				<!-- <div id="2_"> -->
					<div class="mui-col-sm-6 mui-col-xs-3 colStyle tableViewBorderLeft" >
						<h5 id="2_name">+添加</h5>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-3 colStyleTb" >
						<svg class="icon" aria-hidden="true">
						  <use id="2_icon" xlink:href=""></use>
						</svg>
					</div>
				<!-- </div> -->
			</div>
			<div class="mui-row tableViewBorderTop" style="width:100%">
				<!-- <div id="3_"> -->
					<div class="mui-col-sm-6 mui-col-xs-3 colStyle" >
						<h5 id="3_name">+添加</h5>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-3 colStyleTb" >
						<svg class="icon" aria-hidden="true">
						  <use id="3_icon" xlink:href=""></use>
						</svg>
					</div>
				<!-- </div> -->
				<!-- <div id="4_"> -->
					<div class="mui-col-sm-6 mui-col-xs-3 colStyle tableViewBorderLeft" >
						<h5 id="4_name">+添加</h5>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-3 colStyleTb" >
						<svg class="icon" aria-hidden="true">
						  <use id="4_icon" xlink:href=""></use>
						</svg>
					</div>
				<!-- </div> -->
			</div>
		</div>
